{% block content %}

<br />

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Opportunities</h5>
    </div>
    <div class="card card-body">
      <table class="table">
        <tr>
          <th>Opportunity title</th>
          <th>Associated account</th>
          <th>Amount</th>
          <th>Discovery</th>
          <th>Proposal shared</th>
          <th>Negotiations</th>
        </tr>

        {% for i in Opportunities %}
        <tr>
          <td>{{i.Opportunity title}}</td>
          <td>{{i.Associated account}}</td>
          <td>{{i.Amount}}</td>
          <td>{{i.Discovery}}</td>
          <td>{{i.Proposal shared}}</td>
          <td>{{i.Negotiations}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock content %}
